name: Ada (GNAT)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive   # fetch all submodules recursively

    - name: Setup alr
      uses: alire-project/setup-alire@v4

    - name: Preparations
      run: env | grep GITHUB | sort

    - name: Build
      run: |
        cd adalib 
        alr build
        cd ../examples/gitrev
        alr build
        ../bin/gitrev -r 0.0.1 -e GitHub .
        cat revisions.ads

    - name: Codemd
      run: cd codemd ; alr build
    - name: Examples
      run: cd examples; source build.sh

    - name: UpdatePath
      run: echo "$HOME/toolkit/examples/bin:$HOME/codemd/bin" >> $GITHUB_PATH

    - name: Publish
      uses: actions/upload-artifact@v4
      with:
        name: "artifacts"
        path: |
          ./examples/bin/*
          ./codemd/bin/*
